<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meyersj.locationsurvey.app" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--android:theme="@style/AppTheme"-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name=".menu.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter >
        <action android:name="android.intent.action.MAIN" />
        <action android:name="com.meyersj.locationsurvey.app.LOGIN" />
        <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--activity
            android:name=".stops.StopsListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.AppCompat">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.meyersj.locationsurvey.app.LOGIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-->

        <activity
            android:name=".menu.SetLineActivity">
            <intent-filter >
                <!--action android:name="android.intent.action.MAIN" /-->
                <action android:name="com.meyersj.locationsurvey.app.SETLINE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".scans.ScannerActivity">
            <intent-filter >
                <action android:name="com.meyersj.locationsurvey.app.SCANNER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".stops.OnOffMapActivity"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.AppCompat">

            <intent-filter >
                <action android:name="com.meyersj.locationsurvey.app.ONOFFMAP" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter >
                <action android:name="com.meyersj.locationsurvey.app.ODK_ONOFFMAP" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".locations.PickLocationActivity"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.AppCompat">
            <intent-filter >
                <action android:name="com.meyersj.locationsurvey.app.PICKLOCATION" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>



        <service
            android:name=".util.PostService"
            android:exported="false"/>
        <service
            android:name=".scans.LocationService"
            android:exported="false"/>

    </application>

</manifest>
